@page
@model Nadd.Pages.Questoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Questao.questao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao.questao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao.contexto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao.contexto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao.clareza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao.clareza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao.complexidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao.complexidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questao.Avaliacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questao.Avaliacao.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Questao.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
